In [ ]:
# [
('Gaspar','Prado',27,1),
('Jose','Martinez',32,1),
('Diego','Maraboli',25,3),
('Pablo','Quiroga',45,1),
('Diego', 'Soto', 29, 3),
("Juan","Mart√≠nez",52,1),
('Alvaro','Cabello',26,1),
('Candela','Kubar',28,1),
('Johana','Iriarte',34,1),
('Gaston','Yfran',31,1),
('Matias', 'Blanco', 28,1),
('Ana','Jara',38,1),
('Miguel', 'Cash', 37,1),
('Luciana','Martinez',28,1),
('Tiago', 'Ridolfi', 22,1),
('Ger','Rodriguez', 35,1),
('Bruno','Gianini',26,1),
('Odalis','Parilli',38,1),
('Facundo','Ojeda','36','1'),
('Yair', 'Mauad', 30, 1),
('Agustin','Giulidori',25,1),
('Carla','Vallejo',26,1),
('Daniel','Galeano',35,1),
("Franco","Molina",28,6),
('Facundo','Deza',35,1),
('Leonardo', 'Mesaglio', 40, 1),
('Pilar','Sosa',25,1),
('Nicolas','Zoppi',24,1),
('Guillermo', 'vesidi', 28,1),
('Fernando', 'Sancho', 40, 1),
('Fernando','Odriozola',34,1),
('Facundo','Imoda',22,1),
('Simon','Baine',30,1),
]

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
#conectarse a la bd. si no existe la crea
conn = sqlite3.connect('mydatabase.db')

In [ ]:
#crear una tabla
conn.execute(
"""
CREATE TABLE students
(
id INTEGER PRIMARY KEY,
name TEXT not null)
age INTEGER not null,



)

""")