In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
datos_maraton = pd.read_csv("MarathonData.csv")

In [3]:
datos_maraton.describe()

              id     km4week       sp4week  MarathonTime
count  87.000000   87.000000     87.000000     87.000000
mean   44.000000   62.347126    139.840706      3.319080
std    25.258662   26.956019   1191.427864      0.376923
min     1.000000   17.900000      8.031414      2.370000
25%    22.500000   44.200000     11.498168      3.045000
50%    44.000000   58.800000     12.163424      3.320000
75%    65.500000   77.500000     12.854036      3.605000
max    87.000000  137.500000  11125.000000      3.980000

In [4]:
datos_maraton.head()

,id,Marathon,Name,Category,km4week,sp4week,CrossTraining,Wall21,MarathonTime,CATEGORY
0,1,Prague17,Blair MORGAN,MAM,132.8,14.434783,NaN,1.16,2.37,A
1,2,Prague17,Robert Heczko,MAM,68.6,13.674419,NaN,1.23,2.59,A
2,3,Prague17,Michon Jerome,MAM,82.7,13.520436,NaN,1.30,2.66,A
3,4,Prague17,Daniel Or lek,M45,137.5,12.258544,NaN,1.32,2.68,A
4,5,Prague17,Luk ? Mr zek,MAM,84.6,13.945055,NaN,1.36,2.74,A

In [6]:
datos_maraton.shape

(87, 10)

In [7]:
datos_maraton.dtypes

id                 int64
Marathon          object
Name              object
Category          object
km4week          float64
sp4week          float64
CrossTraining     object
Wall21            object
MarathonTime     float64
CATEGORY          object
dtype: object

In [9]:
datos_maraton.isnull().sum()

id                0
Marathon          0
Name              0
Category          6
km4week           0
sp4week           0
CrossTraining    74
Wall21            0
MarathonTime      0
CATEGORY          0
dtype: int64

In [10]:
datos_maraton.hist

<bound method hist_frame of     id  Marathon              Name Category  km4week    sp4week CrossTraining  \
0    1  Prague17      Blair MORGAN      MAM    132.8  14.434783           NaN
1    2  Prague17     Robert Heczko      MAM     68.6  13.674419           NaN
2    3  Prague17     Michon Jerome      MAM     82.7  13.520436           NaN
3    4  Prague17     Daniel Or lek      M45    137.5  12.258544           NaN
4    5  Prague17      Luk ? Mr zek      MAM     84.6  13.945055           NaN
..  ..       ...               ...      ...      ...        ...           ...
82  83  Prague17  Stefano Vegliani      M55     50.0  10.830325           NaN
83  84  Prague17    Andrej Madliak      M40     33.6  10.130653   ciclista 3h
84  85  Prague17        Yoi Ohsako      M40     55.4  11.043189           NaN
85  86  Prague17        Simon Dunn      M45     33.2  11.066667           NaN
86  87  Prague17       Pavel ?imek      M40     17.9  10.848485   ciclista 5h

   Wall21  MarathonTime CATEGORY
0    1.16          2.37        A
1    1.23          2.59        A
2    1.30          2.66        A
3    1.32          2.68        A
4    1.36          2.74        A
..    ...           ...      ...
82   2.02          3.93        D
83   1.94          3.93        D
84   1.94          3.94        D
85   2.05          3.95        D
86   2.05          3.98        D

[87 rows x 10 columns]>

In [11]:
datos_maraton = datos_maraton.drop(columns=['Id'])
datos_maraton = datos_maraton.drop(columns=['Marathon'])
datos_maraton = datos_maraton.drop(columns=['Name'])
datos_maraton = datos_maraton.drop(columns=['CATEGORY'])

KeyError: "['Id'] not found in axis"