In [1]:
import pandas as pd
import numpy as np

In [2]:
year = '2019'

url_link = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'

url = url_link.format(year)
url

'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'

In [3]:
years = [2015,2016,2017,2018,2019,2020,2021,2022,2023] 
url_link = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'

for y in years:
    url = url_link.format(y)
    print(url)

https://www.basketball-reference.com/leagues/NBA_2015_per_game.html
https://www.basketball-reference.com/leagues/NBA_2016_per_game.html
https://www.basketball-reference.com/leagues/NBA_2017_per_game.html
https://www.basketball-reference.com/leagues/NBA_2018_per_game.html
https://www.basketball-reference.com/leagues/NBA_2019_per_game.html
https://www.basketball-reference.com/leagues/NBA_2020_per_game.html
https://www.basketball-reference.com/leagues/NBA_2021_per_game.html
https://www.basketball-reference.com/leagues/NBA_2022_per_game.html
https://www.basketball-reference.com/leagues/NBA_2023_per_game.html

In [6]:
url = 'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'

In [7]:
df = pd.read_html(url, header=0)
df

[      Rk        Player Pos Age   Tm   G  GS    MP   FG   FGA  ...   FT%  ORB  \
 0      1  Álex Abrines  SG  25  OKC  31   2  19.0  1.8   5.1  ...  .923  0.2
 1      2    Quincy Acy  PF  28  PHO  10   0  12.3  0.4   1.8  ...  .700  0.3
 2      3  Jaylen Adams  PG  22  ATL  34   1  12.6  1.1   3.2  ...  .778  0.3
 3      4  Steven Adams   C  25  OKC  80  80  33.4  6.0  10.1  ...  .500  4.9
 4      5   Bam Adebayo   C  21  MIA  82  28  23.3  3.4   5.9  ...  .735  2.0
 ..   ...           ...  ..  ..  ...  ..  ..   ...  ...   ...  ...   ...  ...
 729  528  Tyler Zeller   C  29  MEM   4   1  20.5  4.0   7.0  ...  .778  2.3
 730  529    Ante Žižić   C  22  CLE  59  25  18.3  3.1   5.6  ...  .705  1.8
 731  530   Ivica Zubac   C  21  TOT  59  37  17.6  3.6   6.4  ...  .802  1.9
 732  530   Ivica Zubac   C  21  LAL  33  12  15.6  3.4   5.8  ...  .864  1.6
 733  530   Ivica Zubac   C  21  LAC  26  25  20.2  3.8   7.2  ...  .733  2.3

      DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0    1.4  1.5  0.6  0.5  0.2  0.5  1.7   5.3
 1    2.2  2.5  0.8  0.1  0.4  0.4  2.4   1.7
 2    1.4  1.8  1.9  0.4  0.1  0.8  1.3   3.2
 3    4.6  9.5  1.6  1.5  1.0  1.7  2.6  13.9
 4    5.3  7.3  2.2  0.9  0.8  1.5  2.5   8.9
 ..   ...  ...  ...  ...  ...  ...  ...   ...
 729  2.3  4.5  0.8  0.3  0.8  1.0  4.0  11.5
 730  3.6  5.4  0.9  0.2  0.4  1.0  1.9   7.8
 731  4.2  6.1  1.1  0.2  0.9  1.2  2.3   8.9
 732  3.3  4.9  0.8  0.1  0.8  1.0  2.2   8.5
 733  5.3  7.7  1.5  0.4  0.9  1.4  2.5   9.4

 [734 rows x 30 columns]]

In [12]:
df2019 = df[0]
df2019.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

# 1 Desafio hacer webscrapping a otro año.

# 2 Desafio (opcional) hacer un analisis del mismo

In [23]:
df2019.shape

(734, 30)

In [24]:
df2019['Year'] = 2019
df2019.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3,2019
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7,2019
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2,2019
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9,2019
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9,2019

In [29]:
url2 = 'https://www.basketball-reference.com/leagues/NBA_2020_per_game.html'
df2 = pd.read_html(url2, header = 0)
df2020 = df2[0]

df2020['Year'] = 2020
df2020.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Steven Adams,C,26,OKC,63,63,26.7,4.5,7.6,...,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9,2020
1,2,Bam Adebayo,PF,22,MIA,72,72,33.6,6.1,11.0,...,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9,2020
2,3,LaMarcus Aldridge,C,34,SAS,53,53,33.1,7.4,15.0,...,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9,2020
3,4,Kyle Alexander,C,23,MIA,2,0,6.5,0.5,1.0,...,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0,2020
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,12.6,2.1,5.7,...,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7,2020

In [30]:
# Uno los DataFrame (uno debajo del otro)

df1920 = pd.concat([df2019, df2020])
df1920

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3,2019
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7,2019
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2,2019
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9,2019
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,525,Trae Young,PG,21,ATL,60,60,35.3,9.1,20.8,...,0.5,3.7,4.3,9.3,1.1,0.1,4.8,1.7,29.6,2020
673,526,Cody Zeller,C,27,CHO,58,39,23.1,4.3,8.3,...,2.8,4.3,7.1,1.5,0.7,0.4,1.3,2.4,11.1,2020
674,527,Tyler Zeller,C,30,SAS,2,0,2.0,0.5,2.0,...,1.5,0.5,2.0,0.0,0.0,0.0,0.0,0.0,1.0,2020
675,528,Ante Žižić,C,23,CLE,22,0,10.0,1.9,3.3,...,0.8,2.2,3.0,0.3,0.3,0.2,0.5,1.2,4.4,2020
676,529,Ivica Zubac,C,22,LAC,72,70,18.4,3.3,5.3,...,2.7,4.8,7.5,1.1,0.2,0.9,0.8,2.3,8.3,2020

In [32]:
df1920.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        8
3P         0
3PA        0
3P%       82
2P         0
2PA        0
2P%       21
eFG%       8
FT         0
FTA        0
FT%       76
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
dtype: int64

In [33]:
#df1920.Player.unique
df1920['Player'].nunique()

660

In [36]:
pos = df1920.groupby(['Pos'])['Player'].nunique().reset_index().sort_values(by='Player', ascending = False)
pos

      Pos  Player
12     SG     191
2      PF     167
8      SF     149
0       C     142
5      PG     135
3    PF-C       5
4   PF-SF       5
11  SF-SG       4
1    C-PF       3
10  SF-PF       3
14  SG-PG       2
15  SG-SF       2
6   PG-SG       1
7     Pos       1
9    SF-C       1
13  SG-PF       1

In [40]:
pos2 = df1920.groupby(['Pos'])['PTS'].mean().reset_index().sort_values(by='PTS', ascending = False)
pos2

      Pos        PTS
11  SF-SG  13.125000
10  SF-PF  10.300000
14  SG-PG   9.600000
5      PG   9.452653
13  SG-PF   8.600000
12     SG   8.515190
8      SF   8.397845
0       C   8.184646
3    PF-C   7.860000
2      PF   7.681404
4   PF-SF   7.300000
6   PG-SG   7.000000
15  SG-SF   5.550000
1    C-PF   4.200000
9    SF-C   3.600000
7     Pos        NaN

In [39]:
df1920['PTS'] = df1920.PTS.apply(pd.to_numeric, errors='coerce')

In [44]:
final = pd.merge(pos, pos2, on='Pos', how='inner')

final.rename({'Pos':'Posicion', 'Player':'Cantidad de Jugadores', 'PTS':'Promedio de Puntos'}, axis=1, inplace=True)


final

   Posicion  Cantidad de Jugadores  Promedio de Puntos
0        SG                    191            8.515190
1        PF                    167            7.681404
2        SF                    149            8.397845
3         C                    142            8.184646
4        PG                    135            9.452653
5      PF-C                      5            7.860000
6     PF-SF                      5            7.300000
7     SF-SG                      4           13.125000
8      C-PF                      3            4.200000
9     SF-PF                      3           10.300000
10    SG-PG                      2            9.600000
11    SG-SF                      2            5.550000
12    PG-SG                      1            7.000000
13      Pos                      1                 NaN
14     SF-C                      1            3.600000
15    SG-PF                      1            8.600000